<table class="table table-action">
  <h2><%= @bento.bento_name %></h2>

  <em class="t-small">
    <strong  class ="price">價格:</strong>
    <%= @bento.price %>
  </em>

  <p class = "msgintro">
    <strong>便當介紹:</strong>
    <%= @bento.content %>
  </p>

  <%= link_to 'Back', bentos_path %>
</table>



